@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@300&family=Silkscreen:wght@400;700&display=swap');

/** @format */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-size: 14px;
}

input:focus {
    border-color: rgb(0, 106, 255);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(255 255 255) 0px 0px 0px 1px, rgb(166 229 255) 0px 0px 2px 3px, rgb(0 106 255) 0px 0px 2px 4px;
    font-size: 16px;
    line-height: 24px;
}
